/* PROPERTIES FOR WEASYPRINT */
@page {
	margin: 0px;
	padding: 0px;
	size: A4;
}

/* NORMAL HTML&CSS PROPERTIES */
/* * {} */

h1 {
	color: #d15649;
	text-align: center;
}

h2 {
	color: #3c2c3e;
	text-align: center;
}

h3 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	color: #C4965A;
}

h4 {
	margin-top: 0.8em;
	margin-bottom: 0.20em;
	color: #C4965A;
}

p {
	color: #3c2c3e;
	text-align: center;
	font-size: 0.9em;
}

a {
	font-family: 'Courier New', Courier, monospace;
	color: black;
}

.container {
	display: flex;
	background-color: #262834;

	color: white;
}

/* Properties shared by both sides */
.sides {
	word-wrap: break-word;
}

.left-side {
	width: 25%;
	background-color: #3c2c3e;
}

.infos {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.right-side {
	width: 75%;
	background-color: #eee8c6;
	color: black;
	padding: 1em;
}

.left-side li {
	font-size: 0.8em;
}

.left-side img {
	width: 100%;
}

div.title-and-list {
	height: fit-content;
	width: auto;
}

.title-and-list ul {
	padding-left: 1.25em;
	margin-top: 0.5em;
}

.title-and-list a {
	color: white;
}

div#contacts {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
}

div#contacts div {
	margin-left: 1em;
	margin-right: 1em;
}

#skills .title-and-list {
	margin-left: 0.5em;
}

.element {
	display: flex;
	flex-wrap: wrap;
	height: 5em;
	color: #3c2c3e;
	margin-left: 1em;
}

.element-date {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 10%;
	font-size: 0.9em;
	border-right: 0.15em solid #d07e49;
}

.element-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 2.5%;
	padding-right: 2.5%;
	width: 32.5%;
	font-weight: bold;
	font-size: 0.8em;
}

.element-location {
	display: flex;
	justify-content: left;
	align-items: top;
	margin-left: 12.5%;
	width: 32.5%;
	font-size: 0.6em;
}

.element-description {
	display: flex;
	padding-left: 2.5%;
	justify-content: left;
	align-items: center;
	width: 47.5%;
	font-size: 0.7em;
	border-left: 0.15em solid #d07e49;

}


/* rules for screen in landscape mode */
@media screen and (orientation:landscape) {
	.container {
		padding-left: 20%;
		padding-right: 20%;
	}
}